doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Todo List - Create
        link(rel="stylesheet", href="/style.css")
    body 
        form.form(action="/dashboard/new/handler", method="POST")
            h1 Create new dashboard
            p= error != null ? error : ''
            input(type="text", name="name", placeholder="Dashboard Name") 
            button(type="submit", class="button") Create