doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Todo List - Main
        link(rel="stylesheet", href="style.css")
    body 
        .dashboards
            h1 Dashboards
            ul 
                li <button class="button" onclick="window.location.href='/dashboard/new'">+ Create New</button>
                if dashboards.length > 0 
                    each dashboard in dashboards 
                        li!='<button class="button" onclick="window.location.href=`/dashboard/' + dashboard.slug + '`">' + dashboard.name + '</button>'
                else
                    li <p>Dashboards not found! :(</p>